<h1>Add Class</h1>

<form action="/Classes/Add" method="post">
    <div>
        <label for="ClassName">Class name:</label>
        <input type="text" id="ClassName" name="ClassName" />
    </div>

    <div>
        <label for="RoomNumber">Room number:</label>
        <input type="text" id="RoomNumber" name="RoomNumber" />
    </div>

    <button type="submit">Add Class</button>
</form>