<h1>Position Manager</h1>

<form action="/Positions/Add" method="post">
    <div>
        <label for="Name">Position name:</label>
        <input type="text" id="Name" name="Name" />
    </div>

    <button type="submit">Add Position</button>
</form>

<p>
    <a href="/Positions/List">View all positions</a>
</p>