@using WebApplicationMVC.Models
@model User

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Employer information:</h1>

    <p>Name: @Model.Name</p>
    <p>Pass: @Model.Password</p>
    
    @for (int i = 0; i < 10; i++)
    {
        @: <li>@i</li>
    }

</body>
</html>