<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Employee</title>
</head>
<body>
    <h1>CREATE</h1>
    <hr />
    <form action="create" method="post">
        <input type="text" name="Name" placeholder="Your name" /><br />
        <input type="text" name="IdNumber" placeholder="Your ID number" /><br />
        <select name="Position">
            <option value="manager">Manager</option>
            <option value="developer">Developer</option>
            <option value="designer">Designer</option>
            <option value="tester">Tester team member</option>
            <option value="devOps">DevOps member</option>
        </select><br />

        <input type="text" name="Department" placeholder="Your departrment" /><br />
        <input type="submit" name="submit" value="Send data" /><br />
    </form>
</body>
</html>