@model IEnumerable<Task02.Models.Product>

<h1>All Products</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="/Products/Index">Back</a>
</p>