@model IEnumerable<Task03.Models.Student>

<h1>All Students</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.ClassName</td>
            </tr>
        }
    </tbody>
</table>