<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Student Registry</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <nav>
            <a href="/Students/Index">Students</a> |
            <a href="/Students/List">Student List</a> |
            <a href="/Classes/Index">Classes</a> |
            <a href="/Classes/List">Class List</a>
        </nav>
        <hr />
        @RenderBody()
    </div>
</body>
</html>